  @font-face {
    font-family: 'daidrrj_';
    src: url('/daidrrj_.ttf') format('opentype');
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    background: -webkit-linear-gradient(-95deg, #90cbf9, #f1fb50);
  }

  .card {
    width: 222pt;
    height: 235pt;
    border-radius: 1rem;
    background: #021024;
    padding: 1rem;
  }

  .infos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    grid-gap: 1rem;
    gap: 1rem;
  }

  .image {
    background-image: url(/ec2.jpg);
    background-size: cover;
    height: 15rem;
    width: 18rem;
    border-radius: 0.5rem;
  }

  .info {
    margin-top: 3.3rem;
    height: 7rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .name {
    margin-top: 2rem;
    font-size: 1.4rem;
    line-height: 1.75rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    font-family: 'daidrrj_';
  }

  .function {
    margin-top: 1rem;
    font-family: 'daidrrj_';
    font-size: 0.80rem;
    line-height: 1rem;
    color: #fff;
  }

  .stats {
    margin-top: 0.4rem;
    width: 90%;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 1);
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: none;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(0, 0, 0, 1);
  }

  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4px;
  }

  .state-value {
    font-weight: 700;
    color: rgb(118, 36, 194);
  }


  .audio-player {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18.5pc;
    height: 4pc;
    background-color: #f3f3f3;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
  }

  .player-controls {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .song-info {
    font-family: 'daidrrj_';
    margin-bottom: 4px;
  }

  .song-title {
    font-size: 16px;
    color: #333;
    margin: 0;
  }

  .artist {
    font-size: 12px;
    color: #666;
    margin: 0;
  }

  .progress-bar {
    width: 100%;
    height: 4px;
    background-color: #ddd;
    border-radius: 2px;
    overflow: hidden;
  }

  .progress {
    width: 0;
    height: 100%;
    background-color: #d96000;
    animation: progress-animation 30s linear infinite;
    border-radius: 10px;
  }

  .buttons {
    display: flex;
    align-items: center;
    margin-top: 4px;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }

  .play-btn,
  .pause-btn,
  .skip-btn,
  .volume-btn {
    font-size: 16px;
    color: #000300;
    margin-right: 8px;
    transition: transform 0.2s ease-in-out;
  }

  .play-btn:hover,
  .pause-btn:hover,
  .skip-btn:hover,
  .volume-btn:hover {
    transform: scale(1.2);
  }

  .volume-slider {
    width: 100px;
    height: 5px;
    background-color: #ccc;
    position: relative;
    margin-left: 10px;
  }

  .volume-slider-bar {
    height: 100%;
    background-color: #000300;
    border-radius: 10px;
  }

  .volume-slider-handle {
    width: 16px;
    height: 16px;
    background-color: #666;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    cursor: pointer;
  }

  @keyframes progress-animation {
    0% {
      width: 0;
    }

    100% {
      width: 100%;
    }
  }